<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxy.mybatis.mapper.UserMapper">
    <!-- 这里namespace必须是Usermapper接口的路径，不然要运行的时候要报错 “is not known to the MapperRegistry”-->

    <!-- 这里的id必须和PostsMapper接口中的接口方法名相同，不然运行的时候也要报错 -->
    <select id="getUserById" resultType="User" parameterType="int" resultMap="resultList">
        select * from _user where _id=#{_id}
    </select>
    <select id="getUserByName" resultType="java.util.List" parameterType="String" resultMap="resultList">
        select * from _user where _name=#{name}
    </select>
    
    <insert id="insertUser" parameterType="User">
        insert into _user(_name,_age) values (#{userName},#{userAge})
    </insert>

    <delete id="deleteUser" parameterType="User">
        delete from _user where _name= #{userName}
    </delete>

    <update id="updateUser" parameterType="User">
        update _user set _name = #{userName}
    </update>

    <select id="selectIf" parameterType="User" resultType="User" resultMap="resultList">
        select * from _user where 1=1
        <if test="userName != null">
            and _name = #{userName}
        </if>
        <if test="userAge != 0">
            and _age = #{userAge}
        </if>
        limit 0,1
    </select>
    <select id="selectChoose" parameterType="User" resultType="User" resultMap="resultList">
        select * from _user where 1=1
        <choose>
            <when test="userName!=null">
                and _name = #{userName}
            </when>
            <when test="userAddress != null">
                and _address = #{userAddress}
            </when>
            <when test="userAge!=0">
                and _age = #{userAge}
            </when>
        </choose>
        limit 0,1
    </select>
    <select id="selectWhere" parameterType="User" resultType="User" resultMap="resultList">
        select * from _user
        <where>
            <if test="userName != null">
                and _name = #{userName}
            </if>
            <if test="userAge != 0">
                and _age = #{userAge}
            </if>
            <if test="userAddress!=null">
                and _address = #{userAddress}
            </if>

        </where>
        limit 0,1
    </select>
    <select id="selectTrim" resultType="User" resultMap="resultList" parameterType="User">
        select * from _user
        <trim prefix="where" prefixOverrides="and | or" suffix=" and 1=1 ">
            <if test="userName!=null">
                and _name = #{userName}
            </if>
            <if test="userAge != 0">
                and _age = #{userAge}
            </if>
            <if test="userAddress != null">
                and _address = #{userAddress}
            </if>
        </trim>
        limit 0,1
    </select>
    <update id="updateSet" parameterType="User">
        update _user
        <set>
            <if test="userAge != 0">
                _age = #{userAge},
            </if>
            <if test="userAddress != null">
                _address = #{userAddress},
            </if>
        </set>
        where _name = #{userName}
    </update>

    <update id="updateList" parameterType="java.util.List">
        update _user set _age = 1, _address = "kk" where _name in
        <foreach collection="list" item="user" index="index" open="(" separator="," close=")">
            #{user.userName}
        </foreach>
    </update>
    <update id="updateArray" parameterType="int[]">
        update _user set _age =2, _address = "pp" where _id in
        <foreach collection="array" item="ids" index="index" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>
    <update id="updateMap" parameterType="java.util.Map">
        update _user set _age = 3 where _id in
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <resultMap id="resultList" type="User">
        <id column="_id" property="id"/>
        <result column="_name" property="userName"/>
        <result column="_age" property="userAge"/>
        <result column="_address" property="userAddress"/>
    </resultMap>
</mapper>